! Color scheme
#include </home/jpantao/.config/xcolors/faint>

! Urxvt config
URxvt.scrollBar: false
URxvt.font: xft:Hack:style=Regular:size=12
URxvt.boldFont: xft:Hack:style=Bold:size=12
URxvt.italicFont: xft:Hack:style=Italic:size=12
URxvt.boldItalicFont: xft:Hack:style=Bold Italic:size=12
URxvt.letterSpace: 0

! Perl extensions
URxvt.perl-ext-common: default,matcher,resize-font
URxvt.url-launcher: /usr/bin/xdg-open
URxvt.matcher.button: 1
URxvt.iso14755: false
URxvt.iso14755_52: false
URxvt.keysym.C-M-c:    builtin-string:
URxvt.keysym.C-M-v:    builtin-string:
URxvt.keysym.C-S-0x43: eval:selection_to_clipboard
URxvt.keysym.C-S-0x56: eval:paste_clipboard
URxvt.cursorBlink: 1
URxvt.cursorUnderline: 1
